# Angular / Node
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Database
*.db
*.sqlite
*.sqlite3

# Python testing
.pytest_cache/
.coverage

# Logs
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
